* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", "Inter", "Roboto Condensed", sans-serif;
  font-weight: 500;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: #acd5de;
  padding: 30px 40px;
  font-size: 24px;
  overflow: hidden;
}
header a {
  color: #1a4e8d;
}
header .logo {
  display: flex;
  align-items: end;
  color: #1a4e8d;
}
header nav {
  display: flex;
  font-size: 16px;
  gap: 10px;
  align-items: center;
}
header nav .link {
  border: none;
  padding: 10px 25px;
  border-radius: 40px;
  transition: 0.3s;
}
header nav .link:hover,
header nav .active {
  border: 2px solid none;
  background-color: #1a4e8d;
  color: white;
}
header nav .loginlink {
  display: flex;
  align-items: center;
  gap: 10px;
}
header nav .loginlink:hover span {
  color: #6795b8;
}
header nav .bi {
  font-size: 28px;
}
header .burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  width: 25px;
  height: 20px;
}
header .burger-menu .burger-line {
  width: 100%;
  height: 3px;
  background-color: #1a4e8d;
  border-radius: 2px;
}

main {
  width: 100%;
}
main .home-hero {
  width: 100%;
  padding: 0px 0px 220px 0px;
  background-color: #acd5de;
  position: relative;
}
main .home-hero h1,
main .home-hero h3 {
  position: relative;
  z-index: 2;
  color: #1a4e8d;
}
main .home-hero h1 {
  font-size: 80px;
  padding-top: 65px;
  padding-left: 50px;
  font-weight: 700;
  line-height: 1.1;
}
main .home-hero h3 {
  font-size: 23px;
  font-weight: 400;
  padding-top: 20px;
  padding-left: 50px;
}
main .home-hero .hero-image {
  position: absolute;
  right: 0px;
  bottom: -160px;
  z-index: 1;
}
main .book-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 225px;
}
main .book-section h2 {
  font-size: 70px;
  font-weight: 600;
  color: #1a4e8d;
  text-align: center;
  padding-top: 30px;
}
main .book-section .text-container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
main .book-section .text-container span {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 18px;
  color: #1a4e8d;
}
main .book-section .book-link {
  margin-top: 50px;
  display: flex;
  height: 44px;
  width: 220px;
  background-color: #1a4e8d;
  color: white;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
main .book-section .book-link:hover {
  background-color: #0f2d52;
}
main .book-section .image-container {
  width: 100%;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
main .book-section .image-container .image-border {
  width: 380px;
  height: 290px;
  border-radius: 10px;
  overflow: hidden;
}
main .book-section .image-container .book-images {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1.5s;
}
main .book-section .image-container .book-images:hover {
  transform: scale(1.12);
}
main .clients-section {
  width: 100%;
  overflow: hidden;
  background-color: #acd5de;
}
main .clients-section h2 {
  font-size: 60px;
  font-weight: 700;
  color: #1a4e8d;
  text-align: center;
  padding-top: 130px;
}
main .clients-section .client-cards {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0px;
}
main .clients-section .client-cards .client-card {
  width: 20%;
  height: auto;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  overflow: hidden;
}
main .clients-section .client-cards .client-card .client-icon {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: #d1f6ff;
}
main .clients-section .client-cards .client-card .client-icon .client-image {
  width: 100%;
  height: 100%;
}
main .clients-section .client-cards .client-card .client-review {
  padding-top: 40px;
  font-size: 20px;
  font-weight: 400;
  color: #3a71b5;
  flex-grow: 1;
}
main .clients-section .client-cards .client-card .client-name {
  padding-top: 20px;
  font-size: 17px;
  font-weight: 800;
  color: #1a4e8d;
}
main .clients-section .client-cards .second-client {
  margin-top: 100px;
}
main .clients-section .client-cards .third-client {
  margin-top: 50px;
}
main .customers-section {
  width: 100%;
  padding: 130px 0px;
  background: #1a4e8d;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
main .customers-section a {
  color: #1a4e8d;
}
main .customers-section h2 {
  font-size: 65px;
  font-weight: 700;
  color: white;
  text-align: center;
}
main .customers-section .follow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 133px;
  height: 44px;
  border-radius: 30px;
  transition: 0.4s;
}
main .customers-section .follow:hover {
  background-color: #acd5de;
}
main .customers-section .images-container {
  width: 100%;
  display: flex;
  padding: 20px 40px;
  justify-content: center;
  gap: 30px;
  overflow: scroll;
}
main .customers-section .images-container .image-border {
  width: 292px;
  height: 292px;
  position: relative;
}
main .customers-section .images-container .hover-text-container {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  opacity: 0;
  transition: 0.4s;
  z-index: 2;
}
main .customers-section .images-container .hover-text-container a {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: white;
  font-size: 22px;
  font-weight: 600;
}
main .customers-section .images-container .image-border:hover .hover-text-container {
  opacity: 1;
}
main .customers-section .images-container .customer-image {
  width: 292px;
  height: 292px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  width: 100%;
  padding: 30px 60px;
  display: flex;
}
footer .logo {
  width: 100%;
  font-size: 20px;
  color: #1a4e8d;
  display: flex;
  gap: 8px;
  align-items: flex-start;
}
footer .footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 20px;
  margin-right: 100px;
}
footer .footer-container h4 {
  font-size: 16px;
  font-weight: 700;
  color: #1a4e8d;
}
footer .footer-container p,
footer .footer-container a {
  font-size: 16px;
  font-weight: 400;
  color: #1a4e8d;
}

aside {
  position: fixed;
  bottom: 40px;
  right: 30px;
}
aside .bot-chat {
  background-color: #d1f6ff;
  color: #1a4e8d;
  padding: 15px 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
}

.services-hero {
  width: 100%;
  background-color: #acd5de;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 80px;
  padding-bottom: 50px;
}
.services-hero p {
  font-size: 20px;
  color: #1a4e8d;
}
.services-hero h1 {
  font-size: 60px;
  color: #1a4e8d;
  font-weight: 700;
  padding-bottom: 70px;
}
.services-hero .service-card-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-hero .service-card-section .service-card {
  width: 45%;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
  gap: 5px;
  overflow: hidden;
}
.services-hero .service-card-section .service-card span {
  font-size: 24px;
  font-weight: 600;
  color: #1a4e8d;
  margin-bottom: 30px;
}
.services-hero .service-card-section .service-card p {
  font-size: 18px;
  color: #3a71b5;
  margin-bottom: 5px;
}
.services-hero .service-card-section .service-card a {
  height: 40px;
  width: 140px;
  border-radius: 30px;
  background-color: #1a4e8d;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-hero .service-card-section .service-card a:hover {
  text-decoration: underline;
}

.about-hero {
  width: 100%;
  background-color: #acd5de;
  color: #1a4e8d;
  padding: 80px 40px 20px 40px;
}
.about-hero p {
  font-size: 26px;
  line-height: 1.6;
}
.about-hero h1 {
  font-size: 60px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 90px;
  width: 50%;
}
.about-hero .our-story {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.about-hero .our-story .text-container {
  width: 45%;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}
.about-hero .our-story .text-container span {
  font-size: 24px;
}
.about-hero .our-story .text-container p {
  font-size: 16px;
  width: 75%;
}

.team-section {
  width: 100%;
  background-color: #1a4e8d;
  color: white;
  padding: 60px 20px;
}
.team-section .team-title {
  font-size: 60px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.team-section .team-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 120px;
  padding: 90px;
  flex-wrap: wrap;
}
.team-section .team-container .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.team-section .team-container .image-container .image-border {
  width: 230px;
  height: 230px;
  border-radius: 10px;
  overflow: hidden;
}
.team-section .team-container .image-container p {
  font-size: 22px;
  font-weight: 600;
}
.team-section .team-container .image-container span {
  font-size: 18px;
}

.contact-hero {
  width: 100%;
  background-color: #acd5de;
  color: #1a4e8d;
  padding: 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-hero .text-container {
  width: 50%;
}
.contact-hero .text-container p {
  font-size: 25px;
}
.contact-hero .text-container h1 {
  padding: 40px 4px;
  font-size: 65px;
  font-weight: 700;
}
.contact-hero .form-container {
  padding: 150px 0px;
  width: 60%;
}
.contact-hero .form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-hero .form-container form input,
.contact-hero .form-container form textarea {
  color: #1a4e8d;
  border: none;
  border-bottom: 1px solid #1a4e8d;
  background-color: #acd5de;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}
.contact-hero .form-container form input:hover,
.contact-hero .form-container form textarea:hover {
  border-bottom: 1px solid #4193f7;
}
.contact-hero .form-container form input:focus,
.contact-hero .form-container form textarea:focus {
  outline: none;
  border-bottom: 1px solid #4193f7;
}
.contact-hero .form-container form button {
  background-color: #1a4e8d;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 40px;
  width: 30%;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-hero .form-container form button:hover {
  background-color: #0f2d52;
  cursor: pointer;
}
.contact-hero .form-container form .form-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-hero .form-container form .form-line {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.contact-hero .form-container form .form-line label {
  font-size: 16px;
}
.contact-hero .form-container form .form-line label[for=first-name],
.contact-hero .form-container form .form-line label[for=email] {
  grid-column: 1/6;
}
.contact-hero .form-container form .form-line label[for=last-name],
.contact-hero .form-container form .form-line label[for=address] {
  grid-column: 7/12;
  grid-row: 1;
}
.contact-hero .form-container form .form-line input[name=first-name],
.contact-hero .form-container form .form-line input[name=email] {
  grid-column: 1/6;
  grid-row: 2/4;
}
.contact-hero .form-container form .form-line input[name=last-name],
.contact-hero .form-container form .form-line input[name=address] {
  grid-column: 7/12;
  grid-row: 2/4;
}
.contact-hero .form-container form .message-line {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(3, 40px);
}
.contact-hero .form-container form .message-line a label[for=message] {
  grid-column: 1/12;
  grid-row: 1;
}
.contact-hero .form-container form .message-line textarea[name=message] {
  grid-column: 1/12;
  grid-row: 2/4;
  resize: none;
}
.contact-hero .information-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}
.contact-hero .information-container p a {
  color: #1a4e8d;
}
.contact-hero .information-container i {
  color: black;
}
.contact-hero .information-container .links-logo {
  font-size: 25px;
  display: flex;
  gap: 20px;
  padding-top: 40px;
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
  main .clients-section .client-cards .client-card {
    width: 23%;
  }
  main .clients-section .client-cards .client-card .client-icon {
    width: 70px;
    height: 70px;
  }
  main .clients-section .client-cards .client-card .client-review {
    font-size: 17px;
  }
  main .clients-section .client-cards .client-card .client-name {
    font-size: 13px;
  }
  main .contact-hero .text-container {
    width: 65%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  header nav {
    display: none;
  }
  header .burger-menu {
    display: flex;
  }
  main .home-hero .hero-image {
    width: 80%;
  }
  main .book-section .image-container .image-border {
    width: 230px;
    height: 160px;
  }
  main .book-section .image-container .image-border .book-images {
    -o-object-fit: contain;
       object-fit: contain;
  }
  main .clients-section .client-cards {
    padding: 100px 120px;
    gap: 20px;
  }
  main .clients-section .client-cards .client-card {
    width: auto;
  }
  main .clients-section .client-cards .client-card .client-icon {
    width: 50px;
    height: 50px;
  }
  main .clients-section .client-cards .client-card .client-review {
    font-size: 14px;
  }
  main .clients-section .client-cards .client-card .client-name {
    font-size: 12px;
  }
  main .about-hero .our-story {
    flex-direction: column;
    align-items: center;
  }
  main .about-hero .our-story .text-container {
    width: 100%;
  }
  main .contact-hero .text-container {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  header nav {
    display: none;
  }
  header .burger-menu {
    display: flex;
  }
  main .home-hero .hero-image {
    width: 80%;
  }
  main .book-section .text-container {
    padding: 0px 20px;
    overflow: hidden;
  }
  main .book-section .image-container .image-border {
    width: 230px;
    height: 160px;
  }
  main .book-section .image-container .image-border .book-images {
    -o-object-fit: contain;
       object-fit: contain;
  }
  main .clients-section .client-cards {
    padding: 100px 30px;
    gap: 20px;
    overflow: hidden;
  }
  main .clients-section .client-cards .client-card {
    width: 100%;
    height: auto;
  }
  main .clients-section .client-cards .client-card .client-icon {
    width: 50px;
    height: 50px;
  }
  main .clients-section .client-cards .client-card .client-review {
    font-size: 14px;
  }
  main .clients-section .client-cards .client-card .client-name {
    font-size: 12px;
  }
  main .about-hero .our-story {
    flex-direction: column;
    align-items: center;
  }
  main .about-hero .our-story .text-container {
    width: 100%;
  }
  main .contact-hero .text-container {
    width: 65%;
  }
  main .contact-hero .text-container p {
    font-size: 20px;
  }
  main .contact-hero .text-container h1 {
    padding: 40px 4px;
    font-size: 35px;
    font-weight: 700;
  }
}/*# sourceMappingURL=style.css.map */