$bg-color: #acd5de;
$text-color: #1a4e8d;

* {
	margin: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Montserrat', 'Inter', 'Roboto Condensed', sans-serif;
	font-weight: 500;
}

///////////////////////////////////////// INDEX

// HEADER

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: end;
	background-color: $bg-color;
	padding: 30px 40px;
	font-size: 24px;
	overflow: hidden;

	a {
		color: $text-color;
	}

	.logo {
		display: flex;
		align-items: end;
		color: $text-color;
	}

	nav {
		display: flex;
		font-size: 16px;
		gap: 10px;
		align-items: center;

		.defaultlink {
			border: none;
			padding: 10px 25px;
			border-radius: 40px;
			transition: 0.3s;

			&:hover {
				border: 2px solid none;
				background-color: $text-color;
				color: white;
			}
		}
		.loginlink {
			display: flex;
			align-items: center;
			gap: 10px;
		}
		.loginlink:hover span {
			color: #6795b8;
		}
		.bi {
			font-size: 28px;
		}
	}
}

// MAIN

main {
	width: 100%;

	.home-hero {
		width: 100%;
		padding: 0px 0px 220px 0px;
		background-color: $bg-color;
		position: relative;

		h1,
		h3 {
			position: relative; // текст поверх картинки
			z-index: 2;
			color: $text-color;
		}

		h1 {
			font-size: 80px;
			padding-top: 65px;
			padding-left: 50px;
			font-weight: 700;
			line-height: 1.1;
		}
		h3 {
			font-size: 23px;
			font-weight: 400;
			padding-top: 20px;
			padding-left: 50px;
		}

		.hero-image {
			position: absolute;
			right: 0px;
			bottom: -160px;
			z-index: 1;
		}
	}

	.book-section {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		padding-top: 225px;

		h2 {
			font-size: 70px;
			font-weight: 600;
			color: $text-color;
			text-align: center;
			padding-top: 30px;
		}

		.text-container {
			padding-top: 40px;
			display: flex;
			justify-content: center;
			gap: 30px;

			span {
				display: flex;
				align-items: center;
				gap: 13px;
				font-size: 18px;
				color: $text-color;
			}
		}

		.book-link {
			margin-top: 50px;
			display: flex;
			height: 44px;
			width: 220px;
			background-color: $text-color;
			color: white;
			border-radius: 40px;
			align-items: center;
			justify-content: center;
			transition: 0.4s;

			&:hover {
				background-color: #0f2d52;
			}
		}

		.image-container {
			width: 100%;
			padding: 50px 50px;
			display: flex;
			justify-content: center;
			gap: 10px;

			.image-border {
				width: 380px;
				height: 290px;
				border-radius: 10px;
				overflow: hidden;
			}

			.book-images {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 1.5s;

				&:hover {
					transform: scale(1.12);
				}
			}
		}
	}

	.clients-section {
		width: 100%;
		overflow: hidden;
		background-color: $bg-color;

		h2 {
			font-size: 60px;
			font-weight: 700;
			color: $text-color;
			text-align: center;
			padding-top: 130px;
		}

		.client-cards {
			display: flex;
			justify-content: space-evenly;
			padding: 100px 160px;

			.client-card {
				width: 300px;
				height: 420px;
				background-color: white;
				border-radius: 15px;
				display: flex;
				flex-direction: column;
				padding: 40px 30px;

				.client-icon {
					width: 90px;
					height: 90px;
					border-radius: 100%;
					background-color: #d1f6ff;

					.client-image {
						width: 100%;
						height: 100%;
					}
				}

				.client-review {
					padding-top: 40px;
					font-size: 20px;
					font-weight: 400;
					color: #3a71b5;
					flex-grow: 1;
				}

				.client-name {
					font-size: 17px;
					font-weight: 800;
					color: $text-color;
				}
			}
			.second-client {
				margin-top: 100px;
			}
			.third-client {
				margin-top: 50px;
			}
		}
	}

	.customers-section {
		width: 100%;
		padding: 130px 0px;
		background: #1a4e8d;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;

		a {
			color: $text-color;
		}

		h2 {
			font-size: 65px;
			font-weight: 700;
			color: white;
			text-align: center;
		}

		.follow {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: white;
			width: 133px;
			height: 44px;
			border-radius: 30px;
			transition: 0.4s;

			&:hover {
				background-color: $bg-color;
			}
		}

		.images-container {
			width: 100%;
			display: flex;
			padding: 20px 40px;
			justify-content: center;
			gap: 30px;
			overflow: scroll;

			.image-border {
				width: 292px;
				height: 292px;
				position: relative;
			}

			.hover-text-container {
				width: 100%;
				height: 100%;
				position: absolute;
				inset: 0;
				background: rgba(0, 0, 0, 0.45);
				opacity: 0;
				transition: 0.4s;
				z-index: 2;

				a {
					position: absolute;
					bottom: 50%;
					left: 50%;
					transform: translate(-50%, 50%);
					color: white;
					font-size: 22px;
					font-weight: 600;
				}
			}

			.image-border:hover .hover-text-container {
				opacity: 1;
			}

			.customer-image {
				width: 292px;
				height: 292px;
				object-fit: cover;
			}
		}
	}
}

// FOOTER

footer {
	width: 100%;
	background-color: #f5f5f5;

	padding: 30px 60px;

	display: flex;
	gap: 0px;

	.logo {
		width: 100%;
		font-size: 20px;
		color: $text-color;
		display: flex;
		gap: 8px;
		align-items: flex-start;
	}

	.footer-container {
		width: 100%;
		display: flex;
		overflow: hidden;
		flex-direction: column;
		gap: 3px;
		padding-top: 20px;
		margin-right: 100px;

		h4 {
			font-size: 16px;
			font-weight: 700;
			color: $text-color;
		}

		p,
		a {
			font-size: 16px;
			font-weight: 400;
			color: $text-color;
		}
	}
}

// ASIDE

aside {
	position: fixed;
	bottom: 40px;
	right: 30px;

	.bot-chat {
		background-color: #d1f6ff;
		color: $text-color;
		padding: 15px 50px;
		border-radius: 10px;
		font-size: 16px;
		font-weight: 700;
	}
}

///////////////////////////////////////// SERVICES

.services-hero {
	width: 100%;
	background-color: $bg-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding-top: 80px;

	p {
		font-size: 20px;
		color: $text-color;
	}

	h1 {
		font-size: 60px;
		color: $text-color;
		font-weight: 700;
	}
}
