$bg-color: #acd5de;
$text-color: #1a4e8d;

* {
	margin: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Montserrat', 'Inter', 'Roboto Condensed', sans-serif;
	font-weight: 500;
}

///////////////////////////////////////// INDEX.html

// HEADER

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: end;
	background-color: $bg-color;
	padding: 30px 40px;
	font-size: 24px;
	overflow: hidden;

	a {
		color: $text-color;
	}

	.logo {
		display: flex;
		align-items: end;
		color: $text-color;
	}

	nav {
		display: flex;
		font-size: 16px;
		gap: 10px;
		align-items: center;

		.link {
			border: none;
			padding: 10px 25px;
			border-radius: 40px;
			transition: 0.3s;
		}
		.link:hover,
		.active {
			border: 2px solid none;
			background-color: $text-color;
			color: white;
		}
		.loginlink {
			display: flex;
			align-items: center;
			gap: 10px;
		}
		.loginlink:hover span {
			color: #6795b8;
		}
		.bi {
			font-size: 28px;
		}
	}

	.burger-menu {
		display: none;
		flex-direction: column;
		justify-content: space-between;
		align-self: center;
		width: 25px;
		height: 20px;

		.burger-line {
			width: 100%;
			height: 3px;
			background-color: $text-color;
			border-radius: 2px;
		}
	}
}

// MAIN

main {
	width: 100%;

	.home-hero {
		width: 100%;
		padding: 0px 0px 220px 0px;
		background-color: $bg-color;
		position: relative;

		h1,
		h3 {
			position: relative; // текст поверх картинки
			z-index: 2;
			color: $text-color;
		}

		h1 {
			font-size: 80px;
			padding-top: 65px;
			padding-left: 50px;
			font-weight: 700;
			line-height: 1.1;
		}
		h3 {
			font-size: 23px;
			font-weight: 400;
			padding-top: 20px;
			padding-left: 50px;
		}

		.hero-image {
			position: absolute;
			right: 0px;
			bottom: -160px;
			z-index: 1;
		}
	}

	.book-section {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		padding-top: 225px;

		h2 {
			font-size: 70px;
			font-weight: 600;
			color: $text-color;
			text-align: center;
			padding-top: 30px;
		}

		.text-container {
			padding-top: 40px;
			display: flex;
			justify-content: center;
			gap: 30px;

			span {
				display: flex;
				align-items: center;
				gap: 13px;
				font-size: 18px;
				color: $text-color;
			}
		}

		.book-link {
			margin-top: 50px;
			display: flex;
			height: 44px;
			width: 220px;
			background-color: $text-color;
			color: white;
			border-radius: 40px;
			align-items: center;
			justify-content: center;
			transition: 0.4s;

			&:hover {
				background-color: #0f2d52;
			}
		}

		.image-container {
			width: 100%;
			padding: 50px 50px;
			display: flex;
			justify-content: center;
			gap: 10px;

			.image-border {
				width: 380px;
				height: 290px;
				border-radius: 10px;
				overflow: hidden;
			}

			.book-images {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 1.5s;

				&:hover {
					transform: scale(1.12);
				}
			}
		}
	}

	.clients-section {
		width: 100%;
		overflow: hidden;
		background-color: $bg-color;

		h2 {
			font-size: 60px;
			font-weight: 700;
			color: $text-color;
			text-align: center;
			padding-top: 130px;
		}

		.client-cards {
			display: flex;
			justify-content: space-evenly;
			padding: 100px 0px;

			.client-card {
				width: 20%;
				height: auto;
				background-color: white;
				border-radius: 15px;
				display: flex;
				flex-direction: column;
				padding: 40px 30px;
				overflow: hidden;

				.client-icon {
					width: 90px;
					height: 90px;
					border-radius: 100%;
					background-color: #d1f6ff;

					.client-image {
						width: 100%;
						height: 100%;
					}
				}

				.client-review {
					padding-top: 40px;
					font-size: 20px;
					font-weight: 400;
					color: #3a71b5;
					flex-grow: 1;
				}

				.client-name {
					padding-top: 20px;
					font-size: 17px;
					font-weight: 800;
					color: $text-color;
				}
			}
			.second-client {
				margin-top: 100px;
			}
			.third-client {
				margin-top: 50px;
			}
		}
	}

	.customers-section {
		width: 100%;
		padding: 130px 0px;
		background: #1a4e8d;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;

		a {
			color: $text-color;
		}

		h2 {
			font-size: 65px;
			font-weight: 700;
			color: white;
			text-align: center;
		}

		.follow {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: white;
			width: 133px;
			height: 44px;
			border-radius: 30px;
			transition: 0.4s;

			&:hover {
				background-color: $bg-color;
			}
		}

		.images-container {
			width: 100%;
			display: flex;
			padding: 20px 40px;
			justify-content: center;
			gap: 30px;
			overflow: scroll;

			.image-border {
				width: 292px;
				height: 292px;
				position: relative;
			}

			.hover-text-container {
				width: 100%;
				height: 100%;
				position: absolute;
				inset: 0;
				background: rgba(0, 0, 0, 0.45);
				opacity: 0;
				transition: 0.4s;
				z-index: 2;

				a {
					position: absolute;
					bottom: 50%;
					left: 50%;
					transform: translate(-50%, 50%);
					color: white;
					font-size: 22px;
					font-weight: 600;
				}
			}

			.image-border:hover .hover-text-container {
				opacity: 1;
			}

			.customer-image {
				width: 292px;
				height: 292px;
				object-fit: cover;
			}
		}
	}
}

// FOOTER

footer {
	width: 100%;

	padding: 30px 60px;

	display: flex;

	.logo {
		width: 100%;
		font-size: 20px;
		color: $text-color;
		display: flex;
		gap: 8px;
		align-items: flex-start;
	}

	.footer-container {
		width: 100%;
		display: flex;
		// overflow: hidden;
		flex-direction: column;
		gap: 3px;
		padding-top: 20px;
		margin-right: 100px;

		h4 {
			font-size: 16px;
			font-weight: 700;
			color: $text-color;
		}

		p,
		a {
			font-size: 16px;
			font-weight: 400;
			color: $text-color;
		}
	}
}

// ASIDE

aside {
	position: fixed;
	bottom: 40px;
	right: 30px;

	.bot-chat {
		background-color: #d1f6ff;
		color: $text-color;
		padding: 15px 50px;
		border-radius: 10px;
		font-size: 16px;
		font-weight: 700;
	}
}

///////////////////////////////////////// SERVICES.html

.services-hero {
	width: 100%;
	background-color: $bg-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding-top: 80px;
	padding-bottom: 50px;

	p {
		font-size: 20px;
		color: $text-color;
	}

	h1 {
		font-size: 60px;
		color: $text-color;
		font-weight: 700;
		padding-bottom: 70px;
	}

	.service-card-section {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.service-card {
			width: 45%;
			background: white;
			display: flex;
			flex-direction: column;
			padding: 40px;
			justify-content: center;
			gap: 5px;
			overflow: hidden;

			span {
				font-size: 24px;
				font-weight: 600;
				color: $text-color;
				margin-bottom: 30px;
			}
			p {
				font-size: 18px;
				color: #3a71b5;
				margin-bottom: 5px;
			}

			a {
				height: 40px;
				width: 140px;
				border-radius: 30px;
				background-color: #1a4e8d;
				color: white;
				border: none;
				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

///////////////////////////////////////// ABOUT.html

.about-hero {
	width: 100%;
	background-color: $bg-color;
	color: $text-color;
	padding: 80px 40px 20px 40px;

	p {
		font-size: 26px;
		line-height: 1.6;
	}

	h1 {
		font-size: 60px;
		font-weight: 700;
		padding-top: 20px;
		padding-bottom: 90px;
		width: 50%;
	}

	.our-story {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 30px;

		.text-container {
			width: 45%;
			line-height: 1.6;
			display: flex;
			flex-direction: column;
			gap: 25px;
			padding: 20px;

			span {
				font-size: 24px;
			}
			p {
				font-size: 16px;
				width: 75%;
			}
		}
	}
}

.team-section {
	width: 100%;
	background-color: #1a4e8d;
	color: white;
	padding: 60px 20px;

	.team-title {
		font-size: 60px;
		font-weight: 700;
		display: flex;
		justify-content: center;
		padding-bottom: 30px;
	}

	.team-container {
		width: 100%;
		display: flex;
		justify-content: space-around;
		gap: 120px;
		padding: 90px;
		flex-wrap: wrap;
		.image-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 15px;

			.image-border {
				width: 230px;
				height: 230px;
				border-radius: 10px;
				overflow: hidden;
			}

			p {
				font-size: 22px;
				font-weight: 600;
			}
			span {
				font-size: 18px;
			}
		}
	}
}

///////////////////////////////////////// CONTACT.html

//////////////////////////////////////// media

@media screen and (min-width: 1200px) and (max-width: 1550px) {
	main {
		.clients-section {
			.client-cards {
				.client-card {
					width: 23%;
					.client-icon {
						width: 70px;
						height: 70px;
					}
					.client-review {
						font-size: 17px;
					}
					.client-name {
						font-size: 13px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	header {
		nav {
			display: none;
		}
		.burger-menu {
			display: flex;
		}
	}
	main {
		.home-hero {
			.hero-image {
				width: 80%;
			}
		}
		.book-section {
			.image-container {
				.image-border {
					width: 230px;
					height: 160px;
					.book-images {
						object-fit: contain;
					}
				}
			}
		}
		.clients-section {
			.client-cards {
				padding: 100px 120px;
				gap: 20px;
				.client-card {
					width: auto;

					.client-icon {
						width: 50px;
						height: 50px;
					}
					.client-review {
						font-size: 14px;
					}
					.client-name {
						font-size: 12px;
					}
				}
			}
		}
		.about-hero {
			.our-story {
				flex-direction: column;
				align-items: center;

				.text-container {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	header {
		nav {
			display: none;
		}
		.burger-menu {
			display: flex;
		}
	}
	main {
		.home-hero {
			.hero-image {
				width: 80%;
			}
		}
		.book-section {
			.text-container {
				padding: 0px 20px;
				overflow: hidden;
			}

			.image-container {
				.image-border {
					width: 230px;
					height: 160px;
					.book-images {
						object-fit: contain;
					}
				}
			}
		}
		.clients-section {
			.client-cards {
				padding: 100px 30px;
				gap: 20px;
				overflow: hidden;
				.client-card {
					width: 100%;
					height: auto;
					.client-icon {
						width: 50px;
						height: 50px;
					}
					.client-review {
						font-size: 14px;
					}
					.client-name {
						font-size: 12px;
					}
				}
			}
		}
		.about-hero {
			.our-story {
				flex-direction: column;
				align-items: center;

				.text-container {
					width: 100%;
				}
			}
		}
	}
}
