$bg-color: #acd5de;
$text-color: #1a4e8d;

* {
	margin: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Montserrat', 'Inter', 'Roboto Condensed', sans-serif;
	font-weight: 500;
}

///////////////////////////////////////// INDEX.html

// HEADER

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: end;
	background-color: $bg-color;
	padding: 30px 40px;
	font-size: 24px;
	overflow: hidden;

	a {
		color: $text-color;
	}

	.logo {
		display: flex;
		align-items: end;
		color: $text-color;
	}

	nav {
		display: flex;
		font-size: 16px;
		gap: 10px;
		align-items: center;

		.link {
			border: none;
			padding: 10px 25px;
			border-radius: 40px;
			transition: 0.3s;
		}
		.link:hover,
		.active {
			border: 2px solid none;
			background-color: $text-color;
			color: white;
		}
		.loginlink {
			display: flex;
			align-items: center;
			gap: 10px;
		}
		.loginlink:hover span {
			color: #6795b8;
		}
		.bi {
			font-size: 28px;
		}
	}
	.burger-container {
		align-self: center;
		display: none;

		.burger-menu {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-self: center;
			width: 25px;
			height: 20px;
			cursor: pointer;

			.burger-line {
				width: 100%;
				height: 3px;
				background-color: $text-color;
				border-radius: 2px;
			}
		}
		.opened-burger-menu {
			overflow: hidden;
			width: 0;
			height: 100vh;
			background-color: $bg-color;
			position: fixed;
			right: 0;
			top: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 2;
			gap: 40px;
			transition: 0.5s;

			a {
				font-size: 40px;
				border: none;
				padding: 10px 25px;
				border-radius: 40px;
				transition: 0.3s;
			}

			.link:hover,
			.active {
				border: 2px solid none;
				background-color: $text-color;
				color: white;
			}
			.loginlink {
				display: flex;
				align-items: center;
				gap: 10px;
			}
			.loginlink:hover span {
				color: #6795b8;
			}
			.bi {
				font-size: 28px;
			}

			.closing-button {
				position: absolute;
				right: 30px;
				top: 30px;
				width: 80px;
				height: 80px;
				padding: 15px;
				border-radius: 100%;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: 0.3s;

				span {
					color: $text-color;
					font-size: 50px;
				}

				&:hover {
					border: 2px solid none;
					background-color: $text-color;
					cursor: pointer;
					span {
						color: white;
					}
				}
			}
		}
	}
}

// MAIN

main {
	width: 100%;

	.home-hero {
		width: 100%;
		padding: 0px 0px 220px 0px;
		background-color: $bg-color;
		position: relative;

		.text-container {
			overflow: hidden;
			h1,
			h3 {
				width: 50%;
				position: relative;
				z-index: 2;
				color: $text-color;

				animation: textfadeappear 2s ease 0s 1 normal;
			}

			h1 {
				font-size: 80px;
				padding-top: 65px;
				padding-left: 50px;
				font-weight: 700;
				line-height: 1.1;
			}
			h3 {
				font-size: 23px;
				font-weight: 400;
				padding-top: 20px;
				padding-left: 50px;
			}
		}

		.hero-image {
			position: absolute;
			right: 0px;
			bottom: -160px;
			z-index: 1;
			overflow: hidden;

			animation: slideimage 2s ease 0s 1 normal;
		}
	}

	.book-section {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		padding-top: 225px;
		overflow: hidden;

		h2 {
			font-size: 70px;
			font-weight: 600;
			color: $text-color;
			text-align: center;
			padding-top: 30px;
			animation: textfadeappearreverse 2s ease 0s 1 normal;
		}

		.text-container {
			padding-top: 40px;
			display: flex;
			justify-content: center;
			gap: 30px;

			animation: textfadeappearreverse 2s ease 0s 1 normal;

			span {
				display: flex;
				align-items: center;
				gap: 13px;
				font-size: 18px;
				color: $text-color;
			}
		}

		.book-link {
			margin-top: 50px;
			display: flex;
			height: 44px;
			width: 220px;
			background-color: $text-color;
			color: white;
			border-radius: 40px;
			align-items: center;
			justify-content: center;
			transition: 0.4s;

			animation: textfadeappear 2s ease 0s 1 normal;

			&:hover {
				background-color: #0f2d52;
			}
		}

		.image-container {
			width: 100%;
			padding: 50px 50px;
			display: flex;
			justify-content: center;
			gap: 10px;
			overflow: hidden;

			animation: textfadeappear 2s ease 0s 1 normal;

			.image-border {
				width: 380px;
				height: 290px;
				border-radius: 10px;
				overflow: hidden;
			}

			.book-images {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 1.5s;

				&:hover {
					transform: scale(1.12);
				}
			}
		}
	}

	.clients-section {
		width: 100%;
		overflow: hidden;
		background-color: $bg-color;

		h2 {
			font-size: 60px;
			font-weight: 700;
			color: $text-color;
			text-align: center;
			padding-top: 130px;
			animation: textfadeappearreverse 2s ease 0s 1 normal;
		}

		.client-cards {
			display: flex;
			justify-content: space-evenly;
			padding: 100px 0px;

			.client-card {
				width: 20%;
				height: auto;
				background-color: white;
				border-radius: 15px;
				display: flex;
				flex-direction: column;
				padding: 40px 30px;
				overflow: hidden;

				.client-icon {
					width: 90px;
					height: 90px;
					border-radius: 100%;
					background-color: #d1f6ff;

					.client-image {
						width: 100%;
						height: 100%;
					}
				}

				.client-review {
					padding-top: 40px;
					font-size: 20px;
					font-weight: 400;
					color: #3a71b5;
					flex-grow: 1;
				}

				.client-name {
					padding-top: 20px;
					font-size: 17px;
					font-weight: 800;
					color: $text-color;
				}
			}
			.first-client {
				animation: slideimage 2s ease 0s 1 normal;
			}
			.second-client {
				margin-top: 100px;
				animation: textfadeappear 2s ease 0s 1 normal;
			}
			.third-client {
				margin-top: 50px;
				animation: slideimagereverse 2s ease 0s 1 normal;
			}
		}
	}

	.customers-section {
		width: 100%;
		padding: 130px 0px;
		background: #1a4e8d;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;

		a {
			color: $text-color;
		}

		h2 {
			font-size: 65px;
			font-weight: 700;
			color: white;
			text-align: center;
		}

		.follow {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: white;
			width: 133px;
			height: 44px;
			border-radius: 30px;
			transition: 0.4s;

			&:hover {
				background-color: $bg-color;
			}
		}

		.images-container {
			width: 100%;
			display: flex;
			padding: 20px 40px;
			justify-content: center;
			gap: 30px;
			overflow: scroll;

			.image-border {
				width: 292px;
				height: 292px;
				position: relative;
			}

			.hover-text-container {
				width: 100%;
				height: 100%;
				position: absolute;
				inset: 0;
				background: rgba(0, 0, 0, 0.45);
				opacity: 0;
				transition: 0.4s;
				z-index: 2;

				a {
					position: absolute;
					bottom: 50%;
					left: 50%;
					transform: translate(-50%, 50%);
					color: white;
					font-size: 22px;
					font-weight: 600;
				}
			}

			.image-border:hover .hover-text-container {
				opacity: 1;
			}

			.customer-image {
				width: 292px;
				height: 292px;
				object-fit: cover;
			}
		}
	}
}

// FOOTER

footer {
	width: 100%;
	overflow: scroll;
	padding: 30px 60px;
	display: flex;

	.bot-chat {
		display: none;
		background-color: #d1f6ff;
		color: $text-color;
		padding: 15px 50px;
		border-radius: 10px;
		font-size: 16px;
		font-weight: 700;
		align-self: center;
	}

	.logo {
		width: 100%;
		font-size: 20px;
		color: $text-color;
		display: flex;
		gap: 8px;
		align-items: flex-start;
		overflow: hidden;
	}

	.footer-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 3px;
		padding-top: 20px;
		margin-right: 100px;

		h4 {
			font-size: 16px;
			font-weight: 700;
			color: $text-color;
		}

		p,
		a {
			font-size: 16px;
			font-weight: 400;
			color: $text-color;
		}
	}
}

// ASIDE

aside {
	.bot-chat {
		z-index: 2;
		position: fixed;
		bottom: 40px;
		right: 30px;
		height: 150;
		width: 50;
		cursor: pointer;

		background-color: #d1f6ff;
		color: $text-color;
		padding: 15px 50px;
		border-radius: 10px;
		font-size: 16px;
		font-weight: 700;
		overflow: hidden;
	}

	.chat-container {
		z-index: 2;
		position: fixed;
		bottom: 40px;
		right: 30px;

		background-color: white;
		border-radius: 20px;
		width: 340px;
		height: 0;
		// height: 500px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
		transition: 0.4s;

		.chat-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 20px;
			border-bottom: 2px solid rgb(240, 240, 240);

			span {
				width: 30px;
				height: 30px;
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 25px;
			}

			.icon-text-container {
				text-align: center;
				h3 {
					font-size: 20px;
					font-weight: 500;
				}
				p {
					font-size: 12px;
				}
			}
		}
		.chat-footer {
			textarea {
				width: 100%;
				resize: none;
				border: 1px solid none;

				&:focus {
					outline: none;
					border-bottom: 1px solid #4193f7;
				}
			}
		}
	}
}

///////////////////////////////////////// SERVICES.html

.services-hero {
	width: 100%;
	background-color: $bg-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding-top: 80px;
	padding-bottom: 50px;
	overflow: hidden;

	p {
		font-size: 20px;
		color: $text-color;
	}

	.hero-p {
		animation: textfadeappear 2s ease 0s 1 normal;
	}

	h1 {
		font-size: 60px;
		color: $text-color;
		font-weight: 700;
		padding-bottom: 70px;
		min-width: 800px;
		overflow: hidden;
		animation: textfadeappear 2s ease 0s 1 normal;
	}

	.service-card-section {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		animation: textfadeappear 2s ease 0s 1 normal;

		.service-card {
			width: 45%;
			min-width: 440px;
			background: white;
			display: flex;
			flex-direction: column;
			padding: 40px;
			justify-content: center;
			gap: 5px;
			overflow: hidden;

			span {
				font-size: 24px;
				font-weight: 600;
				color: $text-color;
				margin-bottom: 30px;
			}
			p {
				font-size: 18px;
				color: #3a71b5;
				margin-bottom: 5px;
			}

			a {
				height: 40px;
				width: 140px;
				border-radius: 30px;
				background-color: #1a4e8d;
				color: white;
				border: none;
				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

///////////////////////////////////////// ABOUT.html

.about-hero {
	width: 100%;
	background-color: $bg-color;
	color: $text-color;
	padding: 80px 40px 20px 40px;
	overflow: hidden;

	p {
		font-size: 26px;
		line-height: 1.6;
		animation: textfadeappear 2s ease 0s 1 normal;
	}

	h1 {
		font-size: 60px;
		font-weight: 700;
		padding-top: 20px;
		padding-bottom: 90px;
		width: 50%;
		min-width: 500px;
		overflow: hidden;
		animation: textfadeappear 2s ease 0s 1 normal;
	}

	.our-story {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 30px;

		.text-container {
			width: 45%;
			line-height: 1.6;
			display: flex;
			flex-direction: column;
			gap: 25px;
			padding: 20px;

			span {
				font-size: 24px;
				animation: textfadeappear 2s ease 0s 1 normal;
			}
			p {
				font-size: 16px;
				width: 75%;
			}
		}
		.image-container {
			animation: slideimagereverse 2s ease 0s 1 normal;
		}
	}
}

.team-section {
	width: 100%;
	background-color: #1a4e8d;
	color: white;
	padding: 60px 20px;
	overflow: hidden;

	.team-title {
		font-size: 60px;
		font-weight: 700;
		display: flex;
		justify-content: center;
		padding-bottom: 30px;
		animation: textfadeappearreverse 2s ease 0s 1 normal;
	}

	.team-container {
		width: 100%;
		display: flex;
		justify-content: space-around;
		gap: 120px;
		padding: 90px;
		flex-wrap: wrap;
		.image-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 15px;

			.image-border {
				width: 230px;
				height: 230px;
				border-radius: 10px;
				overflow: hidden;
			}

			p {
				font-size: 22px;
				font-weight: 600;
			}
			span {
				font-size: 18px;
			}
		}
		.first-team {
			animation: slideimage 2s ease 0s 1 normal;
		}
		.second-team {
			animation: textfadeappear 2s ease 0s 1 normal;
		}
		.third-team {
			animation: slideimagereverse 2s ease 0s 1 normal;
		}
	}
}

///////////////////////////////////////// CONTACT.html

.contact-hero {
	width: 100%;
	background-color: $bg-color;
	color: $text-color;
	padding: 100px 40px;
	display: flex;
	flex-direction: column;
	gap: 30px;

	.text-container {
		animation: slideimagereverse 2s ease 0s 1 normal;

		width: 50%;
		p {
			font-size: 25px;
		}

		h1 {
			padding: 40px 4px;
			font-size: 50px;
			font-weight: 700;
		}
	}

	.form-container {
		padding: 150px 0px;
		width: 60%;

		animation: slideimage 2s ease 0s 1 normal;

		form {
			display: flex;
			flex-direction: column;
			gap: 15px;

			input,
			textarea {
				color: $text-color;
				border: none;
				border-bottom: 1px solid $text-color;
				background-color: $bg-color;
				font-size: 18px;
				font-weight: 500;
				padding: 10px;

				&:hover {
					border-bottom: 1px solid #4193f7;
				}

				&:focus {
					outline: none;
					border-bottom: 1px solid #4193f7;
				}
			}

			button {
				background-color: $text-color;
				color: white;
				border: none;
				padding: 10px 25px;
				border-radius: 40px;
				width: 30%;
				transition: 0.3s;
				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					background-color: #0f2d52;
					cursor: pointer;
				}
			}

			.form-buttons {
				display: flex;
				align-items: center;
				gap: 20px;
			}
			.form-line {
				display: grid;
				grid-template-columns: repeat(12, 1fr);
				grid-template-rows: repeat(3, 1fr);

				label {
					font-size: 16px;
				}

				label[for='first-name'],
				label[for='email'] {
					grid-column: 1 / 6;
				}
				label[for='last-name'],
				label[for='address'] {
					grid-column: 7 / 12;
					grid-row: 1;
				}
				input[name='first-name'],
				input[name='email'] {
					grid-column: 1 / 6;
					grid-row: 2 / 4;
				}
				input[name='last-name'],
				input[name='address'] {
					grid-column: 7 / 12;
					grid-row: 2 / 4;
				}
			}
			.message-line {
				display: grid;
				grid-template-columns: repeat(11, 1fr);
				grid-template-rows: repeat(3, 40px);
				a label[for='message'] {
					grid-column: 1 / 12;
					grid-row: 1;
				}
				textarea[name='message'] {
					grid-column: 1 / 12;
					grid-row: 2 / 4;
					resize: none;
				}
			}
		}
	}

	.information-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
		font-size: 16px;

		animation: slideimage 2s ease 0s 1 normal;

		p a {
			color: $text-color;
		}

		i {
			color: black;
		}

		.links-logo {
			font-size: 25px;
			display: flex;
			gap: 20px;
			padding-top: 40px;
		}
	}
}

//////////////////////////////////////// Keyframes

@keyframes textfadeappear {
	0% {
		opacity: 0;
		transform: translateY(200px);
	}
	100% {
		opacity: 100;
		transform: translateY(0);
	}
}

@keyframes textfadeappearreverse {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	100% {
		opacity: 100;
		transform: translateY(0);
	}
}

@keyframes slideimage {
	0% {
		opacity: 0;
		transform: translateX(-200px);
	}
	100% {
		opacity: 100;
		transform: translateX(0);
	}
}

@keyframes slideimagereverse {
	0% {
		opacity: 0;
		transform: translateX(200px);
	}
	100% {
		opacity: 100;
		transform: translateX(0);
	}
}

//////////////////////////////////////// media

@media screen and (min-width: 1200px) and (max-width: 1550px) {
	main {
		.clients-section {
			.client-cards {
				.client-card {
					width: 23%;
					.client-icon {
						width: 70px;
						height: 70px;
					}
					.client-review {
						font-size: 17px;
					}
					.client-name {
						font-size: 13px;
					}
				}
			}
		}
		.contact-hero {
			.text-container {
				width: 65%;
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	header {
		nav {
			display: none;
		}
		.burger-container {
			display: flex;
		}
	}
	main {
		.home-hero {
			.hero-image {
				width: 80%;
			}
		}
		.book-section {
			.image-container {
				.image-border {
					width: 230px;
					height: 160px;
					.book-images {
						object-fit: contain;
					}
				}
			}
		}
		.clients-section {
			.client-cards {
				padding: 100px 120px;
				gap: 5px;
				flex-direction: column;

				.client-card {
					width: 30%;
					align-self: center;
					min-width: 271px;

					.client-icon {
						width: 50px;
						height: 50px;
					}
					.client-review {
						font-size: 14px;
					}
					.client-name {
						font-size: 12px;
					}
				}
				.second-client {
					margin-left: 190px;
				}
				.third-client {
					margin-right: 200px;
				}
			}
		}
		.about-hero {
			.our-story {
				flex-direction: column;
				align-items: center;

				.text-container {
					width: 100%;
				}
			}
		}
		.contact-hero {
			.text-container {
				width: 80%;
			}
		}
		.team-section {
			.team-container {
				.first-team {
					animation: slideimage 2s ease 0s 1 normal;
				}
				.second-team {
					animation: slideimagereverse 2s ease 0s 1 normal;
				}
				.third-team {
					animation: textfadeappear 2s ease 0s 1 normal;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	header {
		nav {
			display: none;
		}
		.burger-menu {
			display: flex;
		}
	}
	main {
		.home-hero {
			.hero-image {
				width: 80%;
			}
		}
		.book-section {
			.text-container {
				padding: 0px 20px;
				overflow: hidden;
			}

			.image-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				.image-border {
					width: 230px;
					height: 160px;
					.book-images {
						object-fit: contain;
					}
				}
			}
		}
		.clients-section {
			.client-cards {
				padding: 100px 30px;
				gap: 20px;
				overflow: hidden;
				flex-direction: column;

				.client-card {
					width: 60%;
					height: auto;
					min-width: 300px;

					.client-icon {
						width: 50px;
						height: 50px;
					}
					.client-review {
						font-size: 14px;
					}
					.client-name {
						font-size: 12px;
					}
				}
				.second-client {
					margin-left: 190px;
				}
				.third-client {
					margin-right: 200px;
				}
			}
		}
		.about-hero {
			.our-story {
				flex-direction: column;
				align-items: center;

				.text-container {
					width: 100%;

					p {
						width: 100%;
						min-width: 400px;
					}
				}
			}
		}
		.contact-hero {
			.text-container {
				width: 65%;
				overflow: hidden;

				p {
					font-size: 20px;
				}

				h1 {
					padding: 40px 4px;
					font-size: 45px;
					font-weight: 700;
					min-width: 300px;
				}
			}
			.form-container {
				width: 90%;
				overflow: hidden;
			}
			.information-container {
				overflow: hidden;
			}
		}
		.team-section {
			.team-container {
				.first-team {
					animation: slideimage 2s ease 0s 1 normal;
				}
				.second-team {
					animation: slideimagereverse 2s ease 0s 1 normal;
				}
				.third-team {
					animation: slideimage 2s ease 0s 1 normal;
				}
			}
		}
	}
	footer {
		.bot-chat {
			display: flex;
		}
	}
	aside {
		display: none;
	}
}
