$bg-color: #acd5de;
$text-color: #1a4e8d;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Montserrat', 'Inter', 'Roboto Condensed', sans-serif;
	font-weight: 500;
}

// background colors

.bg-colors {
	width: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	.first {
		background-color: #acd5de;
		height: 691px;
	}
	.second {
		background-color: white;
		height: 840px;
	}
	.third {
		background-color: #acd5de;
		height: 1000px;
	}
	.fourth {
		background-color: #1a4e8d;
		height: 843px;
	}
	.fifth {
		background-color: white;
		height: 288px;
	}
}

// HEADER

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $bg-color;
	padding: 30px 40px;
	font-size: 24px;

	a {
		color: $text-color;
	}

	.logo {
		display: flex;
		align-items: end;
		color: $text-color;
	}

	nav {
		display: flex;
		font-size: 16px;
		gap: 10px;
		align-items: center;

		.defaultlink {
			border: none;
			padding: 10px 25px;
			border-radius: 40px;
			transition: 0.3s;

			&:hover {
				border: 2px solid none;
				background-color: $text-color;
				color: white;
			}
		}
		.loginlink {
			display: flex;
			align-items: center;
			gap: 10px;
		}
		.loginlink:hover span {
			color: #6795b8;
		}
		.bi {
			font-size: 28px;
		}
	}
}

// MAIN

main {
	width: 100%;

	.home-hero {
		h1 {
			font-size: 70px;
			margin-top: 100px;
			margin-left: 50px;
			font-weight: 700;
			color: $text-color;
		}
		h3 {
			font-size: 25px;
			font-weight: 400;
			margin-top: 20px;
			margin-left: 50px;
			color: $text-color;
		}
	}
}
// END MAIN
